DATABASE_URL="postgresql://user:password@localhost:5432/edupulse"

JWT_SECRET="seu-jwt-secret-super-seguro"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_SECRET="seu-refresh-secret-super-seguro"
JWT_REFRESH_EXPIRES_IN="7d"

FRONTEND_URL="http://localhost:3000"
PORT=3001

REDIS_URL="redis://localhost:6379"
